# Node modules
node_modules/

# next
.next/

# Logs
logs/
*.log

# Environment variables
.env

# Build output
dist/
build/
out/

# Temporary files
*.tmp
*.temp

# OS specific files
.DS_Store
Thumbs.db

# IDE and Editor files
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Coverage directory used by testing tools
coverage/
